<h2 class="titulo-pagina mt-5">Formulario de Eventos</h2>
<section class="mt-5">
  <form autocomplete="off" fxLayout="column">

    <mat-card class="mat-elevation-z8 m-4 p-4" fxFlexAlign="space-evenly">
      <h2 class="header" mat-subheader>Información Registro</h2>
      <mat-card-content fxLayout="column">

        <div class="form-group">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="nombre" />
            <mat-hint>Campo obligatorio</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ej. ejemplo@elpoli.edu.co" formControlName="email" />
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contacto en Redes</mat-label>
            <input matInput formControlName="contacto" />
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Sede</mat-label>
            <mat-select formControlName="sede" multiple>
              <mat-option *ngFor="let org of organizadores"
                [value]="org.codigo">
    
              </mat-option>
            </mat-select>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Programa a registrar</mat-label>
            <mat-select formControlName="programa" multiple>
              <mat-option *ngFor="let org of organizadores"
                [value]="org.codigo">
    
              </mat-option>
            </mat-select>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z8 m-4 p-4">

      <p class="invalid-form" *ngIf="form.invalid">
        **El formulario posee errores, verifica los campos.
      </p>
      <mat-card-actions class="form-action mt-4" fxLayoutAlign="center" fxLayout.lt-sm="column">
        <button class="m-2" type="button" mat-raised-button (click)="volver()" color="warn">
          <mat-icon>arrow_back</mat-icon>Regresar al listado
        </button>
        <button class="m-2" type="submit" mat-raised-button color="primary" [disabled]="!form.valid">
          <mat-icon>save</mat-icon> {{accion()}} Evento
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
