
<div class="content" role="main">

  <input type="hidden" #selection>

  <div >

    <div class="boton-enlace" (click)="redirigir('/estudiantes')">
      <h3>Registro estudiante</h3>
    </div>

    <div class="boton-enlace" (click)="redirigir('/registro')" >
      <h3>Forma de evaluar</h3>
    </div>

    <div class="boton-enlace" (click)="redirigir('/notas')">
      <h3>Ingreso de notas</h3>
    </div>

    <div class="boton-enlace" (click)="redirigir('/reporte')" >
      <h3>Informe de notas</h3>
    </div>


  </div>

</div>
