<!-- Toolbar -->
<h1>Sistema de notas</h1>

<div class="content" role="main">

  <!-- Next Steps -->

 
  <input type="hidden" #selection>

  <div class="card-container">

    <div class="boton-enlace" (click)="redirigir('/estudiantes')">
      <h3>Registro estudiante</h3>
    </div>

    <div class="boton-enlace" (click)="redirigir('/registro')" >
      <h3>Registro de notas</h3>
    </div>

    <div class="boton-enlace" (click)="redirigir('/notas')">
      <h3>Ingreso de notas</h3>
    </div>

    <div class="boton-enlace" >
      <h3>Informe de notas</h3>
    </div>

    
  </div>

  <!-- Footer -->
  <footer>
   
  </footer>

</div>
