<h1 class="titulo-pagina mt-5">Forma de Evaluar </h1>
<section class="mt-5">
    <form autocomplete="off" [formGroup]="datosFormCred" (ngSubmit)="onSubmit()" fxLayout="column">

    <mat-card class="mat-elevation-z8 m-4 p-4" fxFlexAlign="space-evenly">
      <mat-card-content fxLayout="column">
        <div class="form-group">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Asignaturas</mat-label>
            <mat-select formControlName="asignatura" >
              <mat-option *ngFor="let sede of sedes" [value]="sede">
                {{sede.codigo +' '+ sede.nombre}}
              </mat-option>
            </mat-select>
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Semestre</mat-label>
            <mat-hint>Campo obligatorio</mat-hint>
            <input
              matInput
              formControlName="semestre"
            />
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Grupo</mat-label>
            <mat-select formControlName="grupo" >
              <mat-option *ngFor="let grupo of" [value]="grupo">
                {{grupo}}
              </mat-option>
            </mat-select>
            <mat-hint>Campo obligatorio</mat-hint>
            <mat-error>Campo obligatorio</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Profesor</mat-label>
              <mat-select formControlName="profesor">
                <mat-option *ngFor="let profesor of " [value]="profesor">
                  {{profesor}}
                </mat-option>
              </mat-select>
              <mat-hint>Campo obligatorio</mat-hint>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
          </div>
          <h3>Metodologia</h3>
        <div class="form-group">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Parcial</mat-label>
            <input matInput formControlName="parcial"  type="number"/>
          </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Talleres</mat-label>
              <input matInput formControlName="talleres" type="number"/>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Exposición</mat-label>
              <input matInput formControlName="exposicion" type="number" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Asistencia & Participación</mat-label>
              <input matInput formControlName="participacion" type="number" />
            </mat-form-field>
          </div>
   
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z8 m-4 p-4">
        <p>***Los valores de Metodologia son en porcentaje, y la suma de todo debe dar el 100%, y lo maximo que puede tener cada nota es 50%</p>
          <mat-card-actions
        class="form-action mt-4"
        fxLayoutAlign="center"
        fxLayout.lt-sm="column"
      >
        <button
          class="m-2"
          type="button"
          mat-raised-button
          (click)="volver()"
          color="warn"
        >
          <mat-icon>arrow_back</mat-icon>Regresar a la pagina principal
        </button>
        <button class="m-2" type="submit" mat-raised-button>
          <mat-icon>save</mat-icon> Enviar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

